<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>allUsers</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar bg-dark ">
                <span class="text-light" th:text="|${user1.getLogin()} with roles: ROLE ADMIN|"></span>
                <a type="submit" class="text-muted text-decoration-none" th:href="@{/logout}">Logout</a>
            </nav>
            <br/>
        </div>
        <div class="col-2">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link active" th:href="@{/admin}">Admin</a>
                <a class="nav-link" th:href="@{/user}">User</a>
            </nav>
        </div>
        <div class="col-10 bg-light" id="admin">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#user_table">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#new_user">New User</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="user_table">
                    <div class="card-header">
                        <h4 class="card-title">All users</h4>
                    </div>
                    <div class="container">
                        <div class="card-dody">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Login</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Role</th>
                                    <th>Age</th>
                                    <th>Growth</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-active">
                                    <th scope="row" id = "actualUserId">
                                    </th>
                                    <td id= "actualLogin">
<!--                                        <div th:name="${user1.getPassword()}" th:id="|password${user1.getId()}|">-->
<!--                                            <a th:text="${user1.getLogin()}" th:id="|login${user1.getId()}|"></a>-->
<!--                                        </div>-->
                                    </td>
                                    <td id = "actualFirstName"></td>
                                    <td id = "actualLastName"></td>
                                    <td id = "actualRoles"></td>
                                    <td id = "actualAge"></td>
                                    <td id = "actualGrowth"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" content="" id = "actualEdit">
                                            Edit
                                        </button>
                                    </td>
                                    <td >
                                        <button type="button" class="btn btn-danger text-light" data-toggle="modal"
                                                data-target="#modalDelete" content="" id = "actualDelete">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                <tr class="tab-content" th:each="user : ${users}">
                                    <th scope="row" th:id="|id${user.getId()}|"></th>
                                    <td th:id="|login${user.getId()}|"></td>
                                    <td th:id="|firstname${user.getId()}|"></td>
                                    <td th:id="|lastname${user.getId()}|"></td>
                                    <td th:id="|roles${user.getId()}|"></td>
                                    <td th:id="|age${user.getId()}|"></td>
                                    <td th:id="|growth${user.getId()}|"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" th:content="${user.getId()}">
                                            Edit
                                        </button>
                                    <td>
                                        <button type="button" class="btn btn-danger text-light" data-toggle="modal"
                                                data-target="#modalDelete" th:content="${user.getId()}">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="new_user">
                    <div class="card-header">
                        <h4 class="card-title">Add new user</h4>
                    </div>
                    <div class="card-dody">
                        <div class="row justify-content-center align-items-center" style="text-align: center;">
                            <form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
                                <br/>
                                <label class="font-weight-bold" for="login">Login</label>
                                <input type="text" th:field="*{login}" class="form-control">

                                <label class="font-weight-bold" for="password">Password</label>
                                <input type="password" th:field="*{password}" class="form-control">

                                <label class="font-weight-bold" for="firstName">First Name</label>
                                <input type="text" th:field="*{firstName}" class="form-control">

                                <label class="font-weight-bold" for="lastName">Last Name</label>
                                <input type="text" th:field="*{lastName}" class="form-control">

                                <label class="font-weight-bold" for="age">Age</label>
                                <input type="number" th:field="*{age}" class="form-control">

                                <label class="font-weight-bold" for="growth">Growth</label>
                                <input type="number" th:field="*{growth}" class="form-control">

                                <h6 class="font-weight-bold">Role</h6>
                                <select size="2" name="role" class="btn-block">
                                    <option selected value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                                <br/>
                                <button type="submit" class="btn btn-success">Add new user</button>
                                <br/>
                                &nbsp
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit -->
<div class="modal" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form th:method="POST" th:object="${user1}" action="" id="formEdit">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center align-items-center" style="text-align: center;">
                        <div>
                            <label class="font-weight-bold" for="login">Login</label>
                            <input type="text" th:field="*{login}" class="form-control" id="login">
                            <br/>
                            <label class="font-weight-bold" for="password">Password</label>
                            <input type="password" th:field="*{password}" class="form-control" id="password">
                            <br/>
                            <label class="font-weight-bold" for="firstName">First Name</label>
                            <input type="text" th:field="*{firstName}" class="form-control" id="firstName">
                            <br/>
                            <label class="font-weight-bold" for="lastName">Last Name</label>
                            <input type="text" th:field="*{lastName}" class="form-control" id="lastName">
                            <br/>
                            <label class="font-weight-bold" for="age">Age</label>
                            <input type="number" th:field="*{age}" class="form-control" id="age">
                            <br/>
                            <label class="font-weight-bold" for="growth">Growth</label>
                            <input type="number" th:field="*{growth}" class="form-control" id="growth">
                            <br/>
                            <h6 class="font-weight-bold">Role</h6>
                            <select size="2" name="role" class="btn-block">
                                <option selected value="USER">USER</option>
                                <option value="ADMIN">ADMIN</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                    <input type="submit" class="btn btn-primary" value="Edit" id = "goEdit">-->
                    <input type="button" class="btn btn-primary" value="Edit" id = "goEdit" content="">
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form th:method="POST" th:object="${user1}" th:action="@{/admin/{id}(id = ${user1.getId()})}" id="formDelete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <fieldset disabled>
                    <div class="modal-body">
                        <div class="row justify-content-center align-items-center" style="text-align: center;">
                            <div>
                                <label class="font-weight-bold" for="login">Login</label>
                                <input type="text" th:field="*{login}" class="form-control" id="loginD">
                                <br/>
                                <label class="font-weight-bold" for="firstName">First Name</label>
                                <input type="text" th:field="*{firstName}" class="form-control" id="firstNameD">
                                <br/>
                                <label class="font-weight-bold" for="lastName">Last Name</label>
                                <input type="text" th:field="*{lastName}" class="form-control" id="lastNameD">
                                <br/>
                                <label class="font-weight-bold" for="age">Age</label>
                                <input type="text" th:field="*{age}" class="form-control" id="ageD">
                                <br/>
                                <label class="font-weight-bold" for="growth">Growth</label>
                                <input type="text" th:field="*{growth}" class="form-control" id="growthD">
                                <br/>
                                <h6 class="font-weight-bold">Role</h6>
                                <select size="2" name="role" class="btn-block">
                                    <option value="USER" id = "roleD">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger text-light">
                        <a class="text-light text-decoration-none" href=""
                           id="delete">Delete</a>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
       ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script >
    //Заполнение модального окна Edit
    let jsonUser;
    let rolesString
    let id
    $('button.btn.btn-primary').click(async function () {
            id = $(this).attr('content')
            let promise = await fetch('http://localhost:8080/admin/' + id)
            jsonUser = await promise.json()

            let edit = $("#modalEdit");
            let login = jsonUser['login']
            let password = jsonUser['password']
            let firstName = jsonUser['firstName']
            let lastName = jsonUser['lastName']
            rolesString = jsonUser['rolesString']
            let age = jsonUser['age']
            let growth = jsonUser['growth']

            $.ajax('http://localhost:8080/admin', {
                method: "get",
                dataType: "text",
                success: function (msg) {
                    edit.find('#login').attr('value', login);
                    edit.find('#password').attr('value', password);
                    edit.find('#firstName').attr('value', firstName);
                    edit.find('#lastName').attr('value', lastName);
                    edit.find('#age').attr('value', age);
                    edit.find('#growth').attr('value', growth);
                    $('#formEdit').attr('action', '/admin/' + id)
                    $('#goEdit').attr('content', id)

                }
            })
            $('#modalEdit').modal('show')

        const buttonEdit = $("#goEdit");
        buttonEdit.click(
        function() {
           let form =  $('form').serializeArray()
            let jsonEdit = {
               id:id,
                login: form[7].value,
                password: form[8].value,
                firstName: form[9].value,
                lastName: form[10].value,
                age: form[11].value,
                growth: form[12].value,
                rolesString: form[13].value

            }
            console.log(form[7].value)
            console.log(form)
            $.ajax("http://localhost:8080/admin", {
                method: "put",
                data: jsonEdit,
                dataType: "text",
                success: function (msg) {
                    $('#modalEdit').modal('hide')
                }
            })
        })
    })
// Заполнение модального окна Delete
    $('button.btn.btn-danger').click(async function () {
        let id = $(this).attr('content')
        let promise = await fetch('http://localhost:8080/admin/' + id)
        let json = await promise.json()
        let delete1 = $("#modalDelete");
        let login = json['login']
        let password = json['password']
        let firstName = json['firstName']
        let lastName = json['lastName']
        let rolesString = json['rolesString']
        let age = json['age']
        let growth = json['growth']

        $.ajax('http://localhost:8080/admin', {
            method: "get",
            dataType: "text",
            success: function (msg) {
                delete1.find('#loginD').attr('value', login);
                delete1.find('#passwordD').attr('value', password);
                delete1.find('#firstNameD').attr('value', firstName);
                delete1.find('#lastNameD').attr('value', lastName);
                delete1.find('#ageD').attr('value', age);
                delete1.find('#growthD').attr('value', growth);
                delete1.find('#roleD').attr('value', rolesString);
                $('#delete').attr('href', 'admin/delete/' + id)

            }
        })
        $('#modalDelete').modal('show')
    })

    // Заполнение таблицы
    $(async function () {
        let promise = await fetch('http://localhost:8080/user')
        let json = await promise.json()

        $("<a></a>").text(json['id']).appendTo($("#actualUserId"))
        $("<a></a>").text(json['login']).appendTo($("#actualLogin"))
        $("<a></a>").text(json['firstName']).appendTo($("#actualFirstName"))
        $("<a></a>").text(json['lastName']).appendTo($("#actualLastName"))
        $("<a></a>").text(json['rolesString']).appendTo($("#actualRoles"))
        $("<a></a>").text(json['age']).appendTo($("#actualAge"))
        $("<a></a>").text(json['growth']).appendTo($("#actualGrowth"))
        $("#actualEdit").attr('content', json['id'])
        $("#actualDelete").attr('content', json['id'])
        // $("<button type=\"button\" class=\"btn btn-danger\" data-toggle=\"modal\" data-target=\"#modalDelete\" content=\"${user.getId()}\"></button>")
        //         .text('Delete').appendTo($("#actualDelete"))
    })
    $(async function () {
        let promise = await fetch('http://localhost:8080/users')
        let json = await promise.json()
        for (let key in json){
            // console.log(json[key]['id'])
            let id = json[key]['id']
            let login = json[key]['login']
            let firstName = json[key]['firstName']
            let lastName = json[key]['lastName']
            let rolesString = json[key]['rolesString']
            let age = json[key]['age']
            let growth = json[key]['growth']

            $("<a></a>").text(id).appendTo($("#id" + id))
            $("<a></a>").text(login).appendTo($("#login" + id))
            $("<a></a>").text(firstName).appendTo($("#firstname" + id))
            $("<a></a>").text(lastName).appendTo($("#lastname" + id))
            $("<a></a>").text(rolesString).appendTo($("#roles" + id))
            $("<a></a>").text(age).appendTo($("#age" + id))
            $("<a></a>").text(growth).appendTo($("#growth" + id))
        }
    })
</script>
</body>
</html>