<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/{id}(id = ${user.getId()})}" th:object="${user}">
    <label for="login">Login</label>
    <input type = "text" th:field="*{login}" id = "login">
    <br/>
    <label for="password">Password</label>
    <input type = "text" th:field="*{password}" id = "password">
    <br/>
    <label for="firstName">First Name</label>
    <input type = "text" th:field="*{firstName}" id = "firstName">
    <br/>
    <label for="lastName">Last Name</label>
    <input type = "text" th:field="*{lastName}" id = "lastName">
    <br/>
    <label for="age">Age</label>
    <input type = "text" th:field="*{age}" id = "age">
    <br/>
    <label for="growth">Growth</label>
    <input type = "text" th:field="*{growth}" id = "growth">
    <br/>
    <p>
        <select size="2" name="role">
            <option value="USER">USER</option>
            <option selected value="ADMIN">ADMIN</option>
        </select>
    </p>
    <input type="submit" value="Update"/>
</form>

</body>
</html>