<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>new</title>
</head>

<body>

<form th:method="POST" th:action="@{/admin/new}" th:object = "${user}">
    <label for="login">login</label>
    <input type = "text" th:field="*{login}" id = "login">
    <br/>
    <label for="password">password</label>
    <input type = "text" th:field="*{password}" id = "password">
    <br/>
    <label for="firstName">First Name</label>
    <input type = "text" th:field="*{firstName}" id = "firstName">
    <br/>
    <label for="lastName">Last Name</label>
    <input type = "text" th:field="*{lastName}" id = "lastName">
    <br/>
    <label for="age">Age</label>
    <input type = "text" th:field="*{age}" id = "age">
    <br/>
    <label for="growth">Growth</label>
    <input type = "text" th:field="*{growth}" id = "growth">
    <br/>
    <input type="submit" value="create"/>

</form>

</body>

</html>